<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%HOME%\Python\python.exe|%HOME%\Python\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^/static/.*" ignoreCase="true"/>
          <action type="Rewrite" url="^/frontend{REQUEST_URI}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>